@font-face {
    font-family: Outfit;
    src: url(./font/Outfit/Outfit-VariableFont_wght.ttf);
}

body {
    background: #684BB1;
    background-image: url(./images/bg-desktop.svg);
    display: flex;
    flex-direction: column;
    font-family: Outfit;


}

.container {
    display: flex;
    width: 100%;
}

.left-container {
    width: 55%;
}

.right-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

body img {
    margin-left: 60px;
    max-width: 100%;
    background-size: cover;
}

.logo {
    width: 250px;
    margin-bottom: 100px;
    margin-top: 65px;
}

h1,
p {
    color: white;

}

h1 {
    font-size: 50px;
    width: 85%;
    margin-top: 50px;
    font-weight: 400;
    margin-bottom: 0;
}

p {
    width: 87%;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 100;
}


button {
    font-size: larger;
    border: none;
    border-radius: 25px;
    width: 180px;
    height: 50px;
    color: #684BB1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
    position: relative;
    top: 15px;
}

footer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 75px;
    bottom: 20px;
}

footer img {
    margin: 10px;
    height: 30px;
    filter: invert(100%) sepia(6%) saturate(7470%) hue-rotate(240deg) brightness(108%) contrast(105%);
}

@media screen and (max-width:375px) {

    body {
        text-align: center;
        display: flex;
        text-align: center;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    body img {
        max-width: 100%;
        margin: 0;
    }

    .left-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .right-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        width: 100%;
        display: flex;
        margin-top: 100px;
        justify-content: flex-end;
        position: relative;
        right: 115px;
        bottom: 20px;
    }

    footer img {
        margin-left: 20px;
    }

    .logo {
        width: 150px;
        margin-bottom: 60px;
        float: left;
    }
}